<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='.navbar-collapse' aria-expanded="false" aria-controls="navbar">
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <a class='navbar-brand' [routerLink]='["/"]'>Livraria</a>
    </div>
    <div class='navbar-collapse collapse' aria-expanded="false">
      <ul class='nav navbar-nav'>
        <li [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
          <a [routerLink]='["/"]'>Livros</a>
        </li>
        <li [routerLinkActive]='["active"]'>
          <a [routerLink]='["/desafio"]'>Desafio Técnico</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
