<h1>Desafio</h1>

<h4>Cenário:</h4>
<p>Uma livraria da cidade teve um aumento no número de seus exemplares e está com um problema para identificar todos os livros que possui em estoque. Para ajudar a livraria foi solicitado a você desenvolver uma aplicação web para gerenciar estes exemplares.</p>

<h4>Requisitos:</h4>
<p>O sistema deverá mostrar todos os livros cadastrados ordenados de forma ascendente pelo nome; O sistema deverá permitir criar, editar e excluir um livro; Os livros devem ser persistidos em um banco de dados.</p>

<h4>Outros Requisitos:</h4>
<p>Para a persistência dos dados deve ser utilizado algum framework de ORM.</p>

<h4>Diferenciais:</h4>
<p>
  Utilizar web api para comunicação entre front e backend
  Utilizar algum framework de frontend: React, Angular, Knockout, JQuery, Bootstrap
  Utilizar boas práticas de desenvolvimento, DDD, separação de camadas, Injeção de dependência
</p>

<p>Observações: O sistema deverá ser desenvolvido na plataforma .NET; Pode utilizar ASP .Net MVC; O código deve ser disponibilizado no Github.</p>
